extends layout

block content
  div(class="container-fluid")
  h1= title
  - var result=results  
  div(class="row")
    each form,index  in result
      div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Type}-#{form.color}-#{form.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }